@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");

body {
  background-color: rgb(3, 3, 3);
  color: cornsilk;
  font-family: "Roboto Slab", serif;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column; /* empile les uns au-dessus des autres */
  align-items: center; /* centre horizontalement le block */
  justify-content: center; /* centre verticalement le block */
}

.category-select {
  border-radius: 30px;
  border-bottom: 2px solid #f25f4c;
  color: inherit;
  background-color: inherit;
  padding: 10px;
}

.category-select option {
  color: black;
  font-style: italic;
  font-weight: bold;
}
